<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Vision")}</%block>

<section class="container about">
    <h1>Sobre nosotros</h1>
   <p>ManyRoots es una plataforma de formación enfocada a la educación en nuevas tecnologías, ofreciendo los recursos necesarios para que nuestros estudiantes adquieran una formación actualizada en las materias más demandadas por las empresas de IT.
   </p>
   <p>Nuestra visión sobre la educación IT se basa en el afán de llevar el conocimiento actualizado y de alta calidad, que normalmente sólo existe en idiomas como el inglés, al público hispano-hablante para dotarlo de la comodidad de estudiar estas materias en su lengua, con la consiguiente adquisición de conocimientos de una forma más rápida y natural que si lo hiciera estudiándolo en un idioma aprendido.
   </p>
    <p>Queremos poner todos nuestros esfuerzos y recursos en ofrecer una serie de conocimientos que se están generando día a día en internet y que solo personas con altas capacidades de autoaprendizaje y con un dominio del inglés importante pueden acceder a ellos.</p>
    <p>ManyRoots es una joven empresa formada por ingenieros con años de experiencia en desarrollo de software para grandes empresas y en la formación para profesionales.
    </p>
    <p>Sabemos que la formación profesional en el campo de IT, la gran mayoría de las veces, es siendo uno mismo autodidacta, ya que las tecnologías más demandadas a nivel profesional están muy por delante de las ofrecidas por universidades. Este es un duro camino que todo profesional en IT ha tenido que recorrer y muchas veces es un camino tortuoso y confuso debido a que nunca sabes qué es lo que tienes que aprender antes o después de ciertas tecnologías o lenguajes de programación.
    </p>
    <p>Nuestra misión es ofrecer una guía y un camino para que los estudiantes hispano-hablantes tengan la facilidad de formarse en las tecnologías que realmente les van a dar un empujón a sus carreras o directamente adentrarse en el mercado laboral optando a los puestos más demandados.
    </p>
</section>

<section class="container" id="careers">
    <h1>Trabaja en ManyRoots</h1>
    <p>Actualmente no tenemos abierto ningún proceso de selección.</p>
</section>
<section class="container" id="contact">
    <h1>Contacto</h1>
    <p>Para contactar con el equipo de ManyRoots por favor escriba un mail a info@manyroots.com</p>
</section>