@import "variables";

// ====================

// FONTS

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}


// ====================

// HEADER

#platform_logo {
  letter-spacing: -1px;
  font-size: 0.6em;
  font-weight: 900;
  /* margin-top: 1px; */
  -webkit-font-smoothing: antialiased;
}