// lms variables

// base
$baseline: 20px;

// ====================

// LAYOUT: grid
$gw-column: 80px;
$gw-gutter: 20px;
$fg-column: $gw-column;
$fg-gutter: $gw-gutter;
$fg-max-columns: 12;
$fg-max-width: 1400px;
$fg-min-width: 810px;

// ====================

// FONTS
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900');
$sans-serif: 'Source Sans Pro', sans-serif;
$monospace: Monaco, 'Bitstream Vera Sans Mono', 'Lucida Console', monospace;
$body-font-family: $sans-serif;
//$serif: $georgia;

